html, body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}
input[type="text"] {
    font-size: 12px;
    padding: 5px 10px;
    border: 1px solid lightgray;
    transition: 0.5s;
    border-radius: 4px;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;      
}
input[type="text"]:hover{
    border-color: black;    
}
/*this first box class was made for numeric input boxes*/
.firstBox {
    width: 3%;
}
input[type="button"] {
    font-size: 12px;
    width: 30%;
    padding: 10px 15px;
    border: 1px solid lightgray;
    border-radius: 4px;
    transition: 0.5s;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}
input[type="button"]:hover {
    border-color: black;
}
div {
    text-align: center;
    line-height: 1.6;
}
#next {
    display: none;
    font-size: 0px;
}
#nameDiv {
    display: none;
    font-size: 15px;
}
#fatDiv {
    margin: auto;
    padding: 0;
    width: 50%;
    padding: 0%;
    height: 100vh;
}
#padDiv {
    padding: 10%;
    font-size: 15px;
}
#foodTitle {
    font-size: 40px;
    border-bottom: 1px solid lightgray;
}