   html, body
    {
        margin: 0;
        padding: 0;
    }

    div {
        text-align: center;
        line-height: 1.6;
    }
    #next {
        display: none;
    }
    #nameDiv {
        display: none;
    }
    #fatDiv {
        margin: auto;
        padding: 0;
        background-color: lightblue;
        width: 50%;
        padding: 0%;
        height: 100vh;
    }
    #padDiv {
        padding: 10%;
    }
